*{
    padding: 0px;
    width: 0px;
}

body{
    height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#keyframe{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border: 1px solid black;
    position: absolute;
    animation-name: coloranimation;
    animation-duration: 3s;
}

@keyframes coloranimation{
    from{
        background-color: black;
        bottom: 0;
    }

    50%{
        background-color: azure;
    }

    75%{
        background-color: brown;
    }

    to{
        background-color: red;
    }
}