h1 {
    color: aqua;
    text-align: center;
}


text {
    font-size: 16px;
    color: 255;
}

button{
    background-color: azure;
    color: aliceblue;
    border: none;
    border-radius: 5px;


}