*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    border: 1px solid black;
    width: 300px;
    height: 200px;
}

section{
    background-color: aqua;
    width: 300px;
    height: 200px;
    border-radius: 50%;
}

section:hover{
    width: 120px;
    height: 120px;
    border-radius: 0%;
}
