body{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(190, 214, 222);
}

#box{
    background-color: #fff;
    width: 230px;
    height: 330px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2)
    0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 10px;
}

img{
    width: 200px;
    border-radius: 10px;
}

h2{
    font-size: 18px;
    font-family: outfit;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding-left: 25px;
    margin-top: 20px;
}

p{
    font-family: outfit;
    font-size: 14px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);   
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    margin-top: -10px;
}