body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    width: 80px;
    height: 80px;
    border: 10px solid #e74c3c;
    border-top-color: transparent;
    border-radius: 50%;
    animation-name: spin;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}