body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
}

.dot{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    transform: -40px center;
    animation-name: rotate;
    animation: 1.2s linier infinite;
    opacity: 0.8;
}

@keyframes rotate {
    0% {transform: rotate(0deg) translate(40px) rotate(0deg);}
    100% {transform: rotate(360deg) translate(40px) rotate(-360deg);}
}

.d1 {animation-delay: 0s;}
.d2 {animation-delay: -0.1s;}
.d1 {animation-delay: -0.2s;}
.d2 {animation-delay: -0.3s;}
.d1 {animation-delay: 0.4s;}
.d2 {animation-delay: -0.5s;}
.d1 {animation-delay: 0s;}
.d2 {animation-delay: -0.1;}