@font-face{
    font-family: [League Spartan];
    src: url(https://fonts.google.com/specimen/League+Spartan);}


body{
    padding: 0px;
    margin: 0px;
}

h1{
    font-size: 3em;
    position: absolute;
    top: 4%;
    left: 5%;
    color: rgb(79, 32, 78);
} 

.div-p{
    font-size: 1.5em;
    position: absolute;
    top: 30%;
    left: 5%;
    color: rgb(155, 143, 155);
}

.rate-1{
    height: 3em;
    width: 12em;
    color: rgb(75, 44, 76);
    font-size: 1.5em;
    padding-left: 20px;
    position: absolute;
    top: 10%;
    left: 40%;
    background-color: rgb(247, 242, 248);
    border-radius: 5px;
}

.rate-2{
    height: 3em;
    width: 12em;
    color: rgb(75, 44, 76);
    font-size: 1.5em;
    padding-left: 20px;
    position: absolute;
    top: 25%;
    left: 45%;
    background-color: rgb(247, 242, 248);
    border-radius: 5px;
}

.rate-3{
   height: 3em;
    width: 12em;
    color: rgb(75, 44, 76);
    font-size: 1.5em;
    padding-left: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    background-color: rgb(247, 242, 248);
    border-radius: 5px; 
}

.div-3{
    height: 10em;
    width: 30em;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left: -0.2%;
    background-color: rgb(81, 31, 80);
}

.h3-1{
    
    font-size: 30px;
    color: white;
}

.p-1{
    color: white;
}

.review-2{
    height: 10em;
    width: 30em;
    border-radius: 10px;
    position: absolute;
    top: 5%;
    left: 102%;
    background-color: rgb(81, 31, 80); 
    color: white;
}

.review-2 h3{
    font-size: 30px;
}

.review-3{
    height: 10em;
    width: 30em;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: 204%;
    background-color: rgb(81, 31, 80); 
    color: white;
} 

@media (min-width:320px) {
    body{
        margin: 0px;
        padding: 20px;
    }

    .div-1{
        max-width: 375px;
        margin: auto;
        padding: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .div-1 h1{
        font-size: 25px;
    }

    .div-p{
        font-size: 15px;
        
    }

    .review-1{
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
        font-size: 15px;
        text-align: center;
    }
}

