@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}
/* აბსოლიტურათ ყველა ელემენტს ეხება ფედდინგს უშვება მარჯინით აშორებს და ფონთ ფემილითაც ეხება ყველას*/

body{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(204, 43%, 93%);
}
/* ბოდი თეგში რაც არის ყველაფერს ეხება სიმაღლე 100ვჰ იქნება ფლექს დაირექშიონი ცოლუმნში იქნება და არა როუში ბექრეუნდ ქოლორი მოთეთრო*/
.mainDiv{
    border-radius: 5px;
    overflow: hidden;
}
/*ეს ამრგვალებს კუთეებ ბორდერ რადიუსი და ოვერ ფლოუ დამალულია*/

.firstDiv{
    background-color: white;
    height:200px;
    padding: 30px;
}
/* პირველ დივში რაც არის სიმაღლე 200პიქსელი ფედდინგი 30 პიქსელი და უკანა ფერი იქნება თეთრი პირველ მაღლითა სექციაა */

.paragraph1{
    color:#26a8a6;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 25px;
}
/*პირველ პარაგრაფში რა ტექსტიც არის ფერს შეუცვლის სიდიდესაც და ფონტ ვეიტსაც  */
.paragraph2{
    color:#BEDF31;
    font-weight: 500;
    margin-bottom: 15px;
}
/* აქაც იგივეა როგორც პირველი პარაგრაფი უბრალოდ განსხვავებული ფერი და ზომა */
.paragraph3{
    color:hsl(218, 22%, 67%);
}
/* აქ მოლოდ ფერია შეცვლილი */
.twoDivsTogether{
    display: flex;
    flex-direction: row;
}
/* დაბლა ორივე დივის სტილებია მოცემული ეს ფლკექს დაირექშიონს როუდ გააკეთებს ანუ გვერდი გვერდ*/
.first{
    background-color: #2BB4B1;
    /* display: flex;
    flex-direction: column; */
    padding: 30px;
    width:50%;
}
/* უკანა ფერს ცვლის პედდინგს და ვიდვსაც */
.paragraph4{
    color:white;
    font-weight: 700;
    margin-bottom: 15px;
}
/*ეს პარაგრაფის ფერს ცვლის ფონტ ვეიტსაც ცვლის */
h2{
    color:white;
    margin-bottom: 10px;
}
/* აქ მხოლოდ ფერი და მარჯინ ბოტომი იცვლება */
h2 span{
    color:hsl(179, 61%, 52%);
    font-size: 14px;
    vertical-align: middle;
}
/* მკვეთრი ლურჯი გახდება სპენის ფერი და ასევე ცენტრში აწევს ტექსტს */
.paragraph5{
    color:white;
    font-size: 14px;
    margin-bottom: 25px;
}
/* ფერი იქნერბა თეთრი ფონტ საიზი 14 პიქსელი და ქვემოთ დაშორება 25 პიქსელი */
button{
    background-color: #BEDF31;
    border:none;
    width:100%;
    padding: 13px;
    border-radius: 5px;
    color:white;
    font-weight: 700;
}
/* ღილაკის ფერს, ზომას,ვიდვს,ფერს,უკანა ფერს შეცვლის და ბორდერი არ ექნება */
.second{
    background-color: #49BEBD;
    padding: 30px;
    width:50%;
}
/* უკანა ფონი ანუ ფერი შეიცვლება და ვიდფიც და ასევე პედდინგი */
.paragraph6{
    color:hsl(204, 43%, 93%);
    font-size: 14px;
    margin-bottom: 3px;
}
/* მეექვსე პარაგრაფს ფერს,ფონტ საიზს შეუცვლის და ქვემოდან დააშორებს 3 პიქსელით