body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    overflow: hidden;
}

.glow {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: yellow;
    animation-name: glowpulse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.sun {
    width: 170px;
    height: 170px;
    border: 50%;
    background: rgb(255, 186, 57);
    border-radius: 50%;
}

@keyframes glowpulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
}