body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgb(72, 72, 255);
}

.circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgb(255, 186, 96);
    transition-duration: 5s;
    transform: translateY(0px);
    justify-content: center;
}

.circle:active {
    transform: translateY(600px);
    background: rgb(255, 186, 96);
}