body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    width: 200px;
    height: 200px;
    border: 20px solid red;
    border-top-color: transparent;
    border-radius: 50%;
    animation-name: spin;
    animation-iteration-count:infinite ;
    animation-duration: 0.5s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}