body {
  margin: 0;
}

.cover {
  height: 300px;
  background: url('');
  color: white;
  text-align: center;
  line-height: 300px;
}

.contain {
  height: 300px;
  background: url('') no-repeat center/contain;
  text-align: center;
  line-height: 300px;
}
